/* Подключение шрифта */
@font-face {
    font-family: Pobeda-Bold;
    src: url(../fonts/pobeda-bold.ttf);
}

/* Стили для меню */
.nav-link:hover {
    background-color: #ff0000;
    color: #ffffff;
}

/* Стили для баннера */
.banner {
    background-color: #00000050;
    background-blend-mode: color-burn;
    background-image: url(../media/banner-bg.jpg);
    background-position: center;
    background-size: cover;
    color: #ffffff85;
    height: 85vh;
    display: flex;
    place-items: center;
    font-family: Pobeda-Bold;
    text-align: center;
}

.banner h1 {
    font-size: 12em;
}

.banner h2 {
    font-size: 10em;
}

/* Адаптивность баннера */
@media screen and (max-width: 940px) {
    .banner h1 {
        font-size: 8em;
    }
    .banner h2 {
        font-size: 5em;
    }
}

@media screen and (max-width: 690px) {
    .banner h1 {
        font-size: 6em;
    }
    .banner h2 {
        font-size: 3em;
    }
}

/* Класс для выделения текста */
.select {
    background-color: #ff0000;
    color: #ffffff;
    padding: 1px;
}

/* Стили для карусели */
.carousel-inner {
    max-height: 95vh;
}

.carousel-item {
    filter: brightness(1.2);
}

.carousel-item img {
    filter: brightness(1.2) grayscale(100%);
    transition: filter 0.6s ease;
}

.carousel-item img:hover {
    filter: brightness(1.2) grayscale(0%);
}

.carousel-caption {
    padding-bottom: 15%;
}

.carousel-date {
    font-weight: 900;
}

.carousel-text {
    display: block;
    background-color: rgba(255, 255, 255, 0.6);
    margin-bottom: 5%;
    font-size: 1.5rem;
}

.carousel-note {
    color: #ffffff;
    background-color: rgba(0, 0, 0, 0.9);
}

.carousel-title {
    display: inline-block;
    color: #ffffff;
    background-color: rgba(255, 0, 0, 0.9);
}

/* Адаптивность карусели */
@media screen and (max-width: 1145px) {
    .carousel-text {
        font-size: 1.3rem;
    }
}

/* Стили для блока "Герой моей семьи" */
.hero-photo {
    width: 100%;
    filter: grayscale(100%);
    transition: filter 0.6s ease;
}

.hero-photo:hover {
    filter: grayscale(0%);
}

.hero-name {
    display: inline-block;
    color: #ffffff;
    background-color: rgba(255, 0, 0, 0.9);
    font-weight: 900;
}

.hero-date {
    display: inline-block;
    color: #ffffff;
    background-color: rgba(0, 0, 0, 0.9);
}

/* Стили для карточек городов-героев */
.card-img-top {
    filter: grayscale(100%);
    transition: filter 0.6s ease, transform 0.6s ease;
}

.card-img-top:hover {
    filter: grayscale(0%);
    transform: scale(1.03);
}

/* Стили для подвала */
.footer {
    height: 10vh;
}

.footer a {
    padding-left: 2px;
    padding-right: 2px;
    text-decoration: none;
    color: #000000;
}

.footer a:hover {
    color: #ffffff;
    background-color: #ff0000;
}

/* ЧЕРНО-БЕЛЫЕ КАРТИНКИ С ЭФФЕКТОМ */
.card-img-top {
    filter: grayscale(100%);
    transition: filter 0.6s ease, transform 0.6s ease;
}

/* Наведение на ВСЮ карточку, а не на картинку! */
.card:hover .card-img-top {
    filter: grayscale(0%);
    transform: scale(1.03);
}
